@import "tailwindcss";


/* .radial-dark-teal {
  background: radial-gradient(51.09% 51.09% at 50% 48.91%, rgba(17, 61, 60, 0) 0%, #113D3C 100%);
} */
/* :root {
  --background: #000000;
  --foreground: #000000;
  --font-sans: "Inter", "Staff Grotesk Test", sans-serif;
  --font-mono: "Inter", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;
  }
}
 */

/* @font-face {
  font-family: "Staff Grotesk Test";
  src: url("./font/StaffGroteskTest-Medium-BF66385475c19b6.otf")
    format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Staff Grotesk Test";
  src: url("./font/StaffGroteskTest-Regular-BF66385476bf383.otf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Staff Grotesk Test";
  src: url("./font/StaffGroteskTest-Bold-BF66385476837b7.otf")
    format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("./font/inter_Inter-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
} */
